doctype html
head
  title board
  style.
    body{
    margin: 0;
    }
    #top{
    background-color: #DEEBF7;
    }
    #Dr{
    padding: 0;
    margin: 0 0 0 10px;
    color: #4472C4;
    font-family: serif;
    font-weight: normal;
    display: inline;
    }
    #friends{
    color: #4472C4;
    font-family: serif;
    display: inline;
    }
    #online{
    padding: 0;
    margin: 0 0 0 45px;
    color: #767171;
    }
    #write{
    border: 2px solid black;
    margin-top: 25px;
    margin-right: 25px;
    float: right;
    }
#top
  h2#Dr Dr.
  h2#friends Friends
  h5#online ONLINE
#write
  | &#xAE00;&#xC4F0;&#xAE30;&#xBC84;&#xD2BC;
  a(onclick='write()')