doctype html
head
  title board
  style.
    body{
    margin: 0;
    }
    #top{
    margin: 0;
    padding: 0;
    background-color: #DEEBF7;
    }
    #Dr{
    padding: 0;
    margin: 0 0 0 10px;
    color: #4472C4;
    font-family: serif;
    font-size: 30px;
    display: inline;
    }
    #friends{
    color: #4472C4;
    font-family: serif;
    display: inline;
    font-size: 30px;
    }
    #online{
    padding: 0;
    margin: 0 0 0 45px;
    color: #767171;
    font-size: 20px;
    }
    #board_title{
    font-weight: bold;
    margin-left: 20px;
    margin-bottom: -10px;
    font-family: Georgia, "Times New Roman", serif;
    }
    .image{
    width: 170px;
    height: 170px;
    padding: 50px 30px 0 20px;
    }
    .bar{
    width: 230px;
    height: 2px;
    margin-left: 15px;
    }
    .figure{
    width: 900px;
    height: 650px;
    padding: 0 30px 30px 10px;
    margin-top: -250px;
    margin-left: 400px;
    position: absolute;
    }
    #notice{
    background-color: #DEEBF7; 
    padding: 10px;
    width: 700px;
    
    border-radius:30px;

    }
    #created{
      text-size: 10px;
      display: inline-block;
      font-size: 10px;
    }
    #contentid{
      text-decoration: none;
      color: black;
      display: inline-block;
    }
    #write{
      background-color: #DEEBF7;
      display: inline-block;
      text-decoration: none;
      color: black;
      width: 100px;
      height: 40px;
      border: 2px solid black;
      text-align: center;
      line-height: 40px;
      font-weight: bold;
      border-radius: 40px;
    }
    tb{
      display: inline-block;
      margin: 0px;
    }

#top
  a(href='/' target='_self' style='text-decoration: none')
    h2#Dr Dr.
    h2#friends Friends
    h5#online ONLINE

table#tb
  div
    tr
      h2#board_title Bulletin Board
    tr
      img.bar(src='../images/bar_right.png')
    tr
      td
        img.image(src='img_dignosis/게시판.png')
      td
        div#notice
         h2
          | &#xACE0;&#xBBFC;&#xC744; &#xB9D0;&#xD574;&#xBCF4;&#xC138;&#xC694;!
         ul
           -if (result.length != 0)
             -for (var i = 0; i < result.length; i++)
               -if (result[i].board_id == null)
                 li
                   a#contentid(href="/content/"+result[i].title  style="text-decoration: none; color: black;")=result[i].title
                   h3#created=result[i].created   
           a#write(href='/write' target='_self') 글쓰기
               


 


  