doctype html
head
  title board
  style.
    body{
    margin: 0;
    }
    #top{
    margin: 0;
    padding: 0;
    background-color: #DEEBF7;
    }
    #board_title{
    font-weight: bold;
    margin-left: 20px;
    margin-bottom: -10px;
    font-family: Georgia, "Times New Roman", serif;
    }
    .image{
    width: 170px;
    height: 170px;
    padding: 50px 30px 0 20px;
    }
    .bar{
    width: 230px;
    height: 2px;
    margin-left: 15px;
    }
    .figure{
    width: 900px;
    height: 650px;
    padding: 0 30px 30px 10px;
    margin-top: -250px;
    margin-left: 400px;
    position: absolute;
    }
    #write{
    position: relative;
    }
    .notice{
    position: relative;
    margin-left: 500px;
    }
    .notice &gt; h3{
    font-size: 10px;
    color: navy;
    font-weight: bold;
    margin-bottom: 3px;
    }
    #created{
      text-size: 10px;
      display: inline-block;
      font-size: 10px;
    }
    #contentid{
      text-decoration: none;
      color: black;
      display: inline-block;
    }

#top
  a(href='http://localhost:3000/')
    img#home(src='img_dignosis/홈버튼.png')
table
  div
    tr
      h2#board_title Bulletin Board
    tr
      img.bar(src='../images/bar_right.png')
    tr
      td
        img.image(src='img_dignosis/게시판.png')
    tr
      td
        img.figure(src='img_dignosis/figure.png')

.notice
  h2
    | &#xACE0;&#xBBFC;&#xC744; &#xB9D0;&#xD574;&#xBCF4;&#xC138;&#xC694;!
    ul
    -if (result.length != 0)
      -for (var i = 0; i < result.length; i++)
        -if (result[i].board_id == null)
          li
            a#contentid(href="/content/"+result[i].title  style="text-decoration: none; color: black;")=result[i].title
            h3#created=result[i].created
         

#write
  div
    a(href='/write' target='_self')
    img(src='img_dignosis/write.png' onclick='window.location.href="/write"' style='width: 100px; height: 30px; margin-bottom: -250px; margin-left: 950px; margin-top: -20px; cursor:pointer;')
