doctype html
head
  title write
  style.
    body{
    margin: 0;
    }
    #top{
    margin: 0;
    padding: 0;
    background-color: #DEEBF7;
    }
    #board_title{
    font-weight: bold;
    margin-left: 20px;
    margin-bottom: -10px;
    font-family: Georgia, "Times New Roman", serif;
    }
    .image{
    display: inline-block;
    width: 200px;
    height: 200px;
    padding: 50px 30px 0 20px;
    }
    .bar{
    width: 230px;
    height: 2px;
    margin-left: 15px;
    }
    #mini_1{
    width: 675px;
    height: 75px;
    padding: 0 30px 30px 10px;
    margin-bottom: -120px;
    margin-left: 200px;
    }
    #mini_2{
    width: 675px;
    height: 75px;
    padding: 0 30px 30px 10px;
    margin-left: 200px;
    margin-bottom: -80px;
    }
    #a, #b{
    position : relative;
    }
    #c{
    margin-left: 460px;
    position : relative;
    /*text-align: center;*/
    }
    #title{
    z-index: 100;
    position: absolute;
    color: black;
    font-size: 25px;
    top: 55px;
    left: 250px;
    }
    .figure{
    padding: -10px -30px -30px -10px;
    }
    #text{
      margin-left: 260px;
      width: 500px;
      height: 500px;
      background-color: rgb(214, 224, 242);
      padding: 30px;
      border: 0px;
      border-radius: 40px;
    }
    #boardT{
      background-color: rgb(214, 224, 242);
      height: 70px;
      border: 0px;
      width: 530px;
      border-radius: 40px;
      float: left;
    }
    #boardtitle{
      margin-left: 100px;
    }
    #list_link{
      width: 150px;
      height: 60px;
      background-color: rgb(214, 224, 242);
      border: 0px;
      border-radius: 40px;
      text-align: center;
      line-height: 60px;
      font-size: 18px;
      color: black;
      margin-left: 450px;
      margin-top: 10px;
    }


#top
  a(href='http://localhost:3000/')
    img#home(src='../images/홈버튼.png')
table
  tr
    h2#board_title Bulletin Board
  tr
    img.bar(src='../images/bar_right.png')
form
  table
    tr
      td(rowspan='2')
        img#timage.image(src='../images/게시판.png')
      td#a
        div#boardT
          img(src='../images/umm.png' style='margin-bottom: -20px; margin-left: 30px; position: absolute; margin-right: 20px;')
          div#boardtitle
            p=result[0].title


  div#text
    p=result[0].content
  div#list_link
    a(href="/board" style="text-decoration: none; color: black;") 목록
  