doctype html
head
  title dermatitis
  style.
    body{
    margin: 0;
    }
    #top{
    background-color: #DEEBF7;
    }
    #Dr{
    padding: 0;
    margin: 0 0 0 10px;
    color: #4472C4;
    font-family: serif;
    font-weight: normal;
    display: inline;
    }
    #friends{
    color: #4472C4;
    font-family: serif;
    display: inline;
    }
    #online{
    padding: 0;
    margin: 0 0 0 45px;
    color: #767171;
    }
    #dignosis_title{
    font-weight: bold;
    margin-left: 20px;
    margin-bottom: -10px;
    font-family: Georgia, "Times New Roman", serif;
    }
    .image{
    width: 150px;
    height: 150px;
    padding: 15px 30px 0 10px;
    }
    .bar{
    width: 170px;
    height: 2px;
    margin-left: 15px;
    }
    .figure{
    width: 500px;
    height: 450px;
    padding: 15px 30px 0 10px;
    margin-top: -180px;
    margin-left: 350px;
    }
#top
  h2#Dr Dr.
  h2#friends Friends
  h5#online ONLINE
table
  tr
    h2#dignosis_title dermatitis
  tr
    img.bar(src='bar_right.png')
  tr
    td
      img.image(src='img_dignosis/피부.png')
  tr
    td
      img.figure(src='figure.png')
