doctype html
head
  title dignosis
  style.
    body{
    margin: 0;
    }
    #top{
    margin: 0;
    padding: 0;
    background-color: #DEEBF7;
    }
    #dignosis_title{
    font-style: italic;
    font-family: serif;
    font-weight: normal;
    margin-left: 20px;
    text-decoration: underline;
    }
    .image{
    width: 160px;
    height: 160px;
    padding: 15px 30px 0 30px;
    }
    table{
    position: absolute;
    left: 50%;
    top: 50%;
    margin-top: -230px;
    margin-left: -390px;
    text-align: center;
    font-weight: bolder;
    }
    .part{
    padding-top: 0;
    }
#top
<<<<<<< HEAD
#top
 a(href="http://localhost:3000/" target='_self')
  img(src='/img_dignosis/홈버튼.png', height='60px')
=======
 a(href="http://localhost:3000/" target='_self')
  img(src='img_dignosis/홈버튼.png', height='60px')
>>>>>>> 227f29509f7199cf5480c554e6ff6cdfabf5036f
div
  h2#dignosis_title Dignosis
table
  tr
    td
      a(href='/dignosis/cold/1/-1')
        img.image(src='img_dignosis/감기.png')
    td
      a(href='/eyeball/1/-1')
        img.image(src='img_dignosis/눈.png')
    td
      a(href='/dignosis/headache/1/-1')
        img.image(src='img_dignosis/두통.png')
  tr
    td.part &#xAC10;&#xAE30;
    td.part &#xB208;
    td.part &#xB450;&#xD1B5;
  tr
    td
      a(href='/dignosis/colic/1/-1')
        img.image(src='img_dignosis/복통.png')
    td
      a(href='/menstyalpain/1/-1')
        img.image(src='img_dignosis/생리통.png')
    td
      a(href='/dignosis/dermatistic/1/-1')
        img.image(src='img_dignosis/피부.png')
  tr
    td.part &#xBCF5;&#xD1B5;
    td.part &#xC0DD;&#xB9AC;&#xD1B5;
    td.part &#xD53C;&#xBD80;
