doctype html
head
  title dignosis
  style.
    body{
    margin: 0;
    }
    #top{
    background-color: #DEEBF7;
    }
    #Dr{
    padding: 0;
    margin: 0 0 0 10px;
    color: #4472C4;
    font-family: serif;
    font-weight: normal;
    display: inline;
    }
    #friends{
    color: #4472C4;
    font-family: serif;
    display: inline;
    }
    #online{
    padding: 0;
    margin: 0 0 0 45px;
    color: #767171;
    }
    #dignosis_title{
    font-style: italic;
    font-family: serif;
    font-weight: normal;
    margin-left: 20px;
    text-decoration: underline;
    }
    .image{
    width: 160px;
    height: 160px;
    padding: 15px 30px 0 30px;
    }
    table{
    position: absolute;
    left: 50%;
    top: 50%;
    margin-top: -230px;
    margin-left: -390px;
    text-align: center;
    font-weight: bolder;
    }
    .part{
    padding-top: 0;
    }
#top
  h2#Dr Dr.
  h2#friends Friends
  h5#online ONLINE
div
  h2#dignosis_title Dignosis
table
  tr
    td
      a(href='dignosis_cold.html' target='_blank')
        img.image(src='img_dignosis/감기.png')
    td
      a(href='dignosis_eyeball.html' target='_blank')
        img.image(src='img_dignosis/눈.png')
    td
      a(href='dignosis_headache.html' target='_blank')
        img.image(src='img_dignosis/두통.png')
  tr
    td.part &#xAC10;&#xAE30;
    td.part &#xB208;
    td.part &#xB450;&#xD1B5;
  tr
    td
      a(href='dignosis_colic.html' target='_blank')
        img.image(src='img_dignosis/복통.png')
    td
      a(href='dignosis_menstyalpain.html' target='_blank')
        img.image(src='img_dignosis/생리통.png')
    td
      a(href='dignosis_dermatitis.html' target='_blank')
        img.image(src='img_dignosis/피부.png')
  tr
    td.part &#xBCF5;&#xD1B5;
    td.part &#xC0DD;&#xB9AC;&#xD1B5;
    td.part &#xD53C;&#xBD80;
