doctype html
head
  title Facebook_login
  style.
    #cancel{
    position: absolute;
    margin-left: 1350px;
    }
div(style='position: relative;')
  h2 &#xC11C;&#xBE44;&#xC2A4;&#xB97C; &#xC774;&#xC6A9;&#xD558;&#xC2DC;&#xB824;&#xBA74; &#xB85C;&#xADF8;&#xC778;&#xC744; &#xC9C4;&#xD589;&#xD574;&#xC8FC;&#xC138;&#xC694;.
  button(type='button')
    img#cancel(src='cancel.png', onclick="location.href='main_screen.html'")
