<!DOCTYPE html>
<html lang="en">
<head>
  <title>introduction</title>
  <style>
    body{
      margin: 0;
    }
    #top{
      background-color: #DEEBF7;
    }
    #Dr{
      padding: 0;
      margin: 0 0 0 10px;
      color: #4472C4;
      font-family: serif;
      font-weight: normal;
      display: inline;
    }
    #friends{
      color: #4472C4;
      font-family: serif;
      display: inline;
    }
    #online{
      padding: 0;
      margin: 0 0 0 45px;
      color: #767171;
    }
    #div_logo{
      margin-top: 30px;
      margin-left: 500px;
      padding-left: 20px;
      border-left: 5px solid #D0CECE;
    }
    #intro{
      width: 400px;
      margin: 30px 0 30px 500px;
      font-weight: normal;
    }
    .creator{
      margin: 0 10px 10px 500px;
      padding: 0;
      font-weight: bolder;
    }
    .creator:first-child{
      font-size: 25px;
    }
   #myongji{
     margin: 30px 0 0 500px;
     padding-right: 10px;
   }
  </style>
</head>
<body>
  <div id="top">
    <h2 id="Dr">Dr.</h2>
    <h2 id="friends">Friends</h2>
    <h5 id="online">ONLINE</h5>
  </div>
  <div id="div_logo">
    <img src="img_introduction/logo.png">
  </div>
  <p id="intro">
    When we signal that we are sick, what is the first thing we do?
    Suddenly, when something is uncomfortable, most people search the Internet rather than go to the hospital right away. 
    Especially in these days, even if you cough or have a headache, you will find out more about your symptoms in case of fear. 
  </p>
  <div>
    <div class="creator">Creator_</div>
    <div class="creator">Ko nayeon</div>
    <div class="creator">Kim jaejung</div>
    <div class="creator">Mun yuri</div>
    <div class="creator">Park soyeon</div>
  </div>
  <div id="img_add">
    <img src="img_introduction/명지대.gif" id="myongji">
    <img src="img_introduction/copyright.png">
  </div>
  
</body>
</html>