doctype html
head
  title introduction
  style.
    body{
    margin: 0;
    }
    #top{
    background-color: #DEEBF7;
    }
    #Dr{
    padding: 0;
    margin: 0 0 0 10px;
    color: #4472C4;
    font-family: serif;
    font-weight: normal;
    display: inline;
    }
    #friends{
    color: #4472C4;
    font-family: serif;
    display: inline;
    }
    #online{
    padding: 0;
    margin: 0 0 0 45px;
    color: #767171;
    }
    #div_logo{
    margin-top: 30px;
    margin-left: 500px;
    padding-left: 20px;
    border-left: 5px solid #D0CECE;
    }
    #intro{
    width: 400px;
    margin: 30px 0 30px 500px;
    font-weight: normal;
    }
    .creator{
    margin: 0 10px 10px 500px;
    padding: 0;
    font-weight: bolder;
    }
    .creator:first-child{
    font-size: 25px;
    }
    #myongji{
    margin: 30px 0 0 500px;
    padding-right: 10px;
    }
#top
  h2#Dr Dr.
  h2#friends Friends
  h5#online ONLINE
#div_logo
  img(src='img_dignosis/logo.png')
p#intro
  | When we signal that we are sick, what is the first thing we do?
  | Suddenly, when something is uncomfortable, most people search the Internet rather than go to the hospital right away.
  | Especially in these days, even if you cough or have a headache, you will find out more about your symptoms in case of fear.
div
  .creator Creator_
  .creator Ko nayeon
  .creator Kim jaejung
  .creator Mun yuri
  .creator Park soyeon
#img_add
  img#myongji(src='img_dignosis/명지대.gif')
  img(src='img_dignosis/copyright.png')
