doctype html
head
  title search
  style.
    body{
    margin: 0;
    }
    #top{
    background-color: #DEEBF7;
    }
    #Dr{
    padding: 0;
    margin: 0 0 0 10px;
    color: #4472C4;
    font-family: serif;
    font-size: 30px;
    display: inline;
    }
    #friends{
    color: #4472C4;
    font-family: serif;
    display: inline;
    font-size: 30px;
    }
    #online{
    padding: 0;
    margin: 0 0 0 45px;
    color: #767171;
    font-size: 20px;
    }
    .Dr{
    padding: 0;
    margin: 0 0 0 10px;
    color: #4472C4;
    font-family: serif;
    font-weight: normal;
    display: inline;
    }
    .friends{
    color: #4472C4;
    font-family: serif;
    display: inline;
    }
    .online{
    padding: 0;
    margin: 0 0 0 45px;
    color: #767171;
    }
    #dignosis_title{
    font-style: italic;
    font-family: serif;
    font-weight: normal;
    margin-left: 20px;
    text-decoration: underline;
    }
    #title{
    margin: 200px 10px 10px 500px;
    font-size: 40px;
    }
    #title_Dr{
    display: inline;
    }
    #title_friends{
    display: inline;
    }
    #title_online{
    font-size: 35px;
    margin:0 0 0 150px;
    font-weight: normal;
    }
    input[type="text"]{
    width: 650px; height: 40px;
    margin: 0 0 5px 360px;
    border-radius: 25px 0 0 25px;
    }
    input[type="submit"]{
      height: 46px;
      width: 55px;
      border-radius: 0 25px 25px 0;
      margin-left: -2px
    }
    #search{
      text-decoration: none;
      color: #767171;
      background-color: #DEEBF7;
      border-radius: 15px;
      font-size: 20px;
      padding: 5px;
      display: inline-block;
    }
    #frm{
      margin: 10px;
    }
#top
  a(href='/' target='_self' style='text-decoration: none')
    h2#Dr Dr.
    h2#friends Friends
    h5#online ONLINE
    
#title
  h1#title_Dr.Dr Dr.
  h1#title_friends.friends Friends
  a#search(href="/search") symptom
  h3#title_online.online ONLINE
#search_bar
  div#search_bar
  form#frm(action="/dignosis/msearch_result", method="get")
    input(type='text' name="search" placeholder="   궁금하신 약을 입력해주세요.")
    input(type='submit' value="search")


 
  
  


