doctype html
head
  title Password
  style.
    body{
    margin:0;
    background-color: #DEEBF7;
    }
    #top{
    margin: 0;
    padding: 0;
    background-color: #DEEBF7;
    }
    #Dr{
    padding: 0;
    margin: 0 0 0 10px;
    color: #4472C4;
    font-family: serif;
    font-size: 30px;
    display: inline;
    }
    #friends{
    color: #4472C4;
    font-family: serif;
    display: inline;
    font-size: 30px;
    }
    #online{
    padding: 0;
    margin: 0 0 0 45px;
    color: #767171;
    font-size: 20px;
    }
    .PASSWORD{
    margin-top: 400px;
    margin-left: 750px;
    position: absolute;
    transform: translate(-50%, -50%);
    font-size: large;
    color: black;
    text-align: center;
    float: left;
    }
    #password{
    width: 200px;
    height: 40px;
    border-radius: 20px;
    margin-right: 200px;
    }
    #OK{
    width: 60px;
    height: 40px;
    border-radius: 10px;
    background-color: #DEEBF7;
    color: black;
    font-family: serif;
    font-weight: bold;
    font-size: medium;
    border: 2px solid black;
    margin-left: -180px;
    }
    
#top
  a(href='/' target='_self' style='text-decoration: none')
    h2#Dr Dr.
    h2#friends Friends
    h5#online ONLINE

.PASSWORD
  h2 게시물의 삭제를 원하시면 비밀번호를 입력해주세요.
  h3 &#xBE44;&#xBC00;&#xBC88;&#xD638;&#xB97C; &#xC785;&#xB825;&#xD558;&#xC2DC;&#xBA74; &#xD398;&#xC774;&#xC9C0;&#xB85C; &#xC774;&#xB3D9;&#xD569;&#xB2C8;&#xB2E4;

  form#frm(action="/check_process_delete/"+id method="get")
    -if (wrong != null)
      input#password(type="text" name="pw"  placeholder=' 비밀번호가 틀렸습니다.')
    -else
      input#password(type="text" name="pw")
    input#OK(type="submit")
