doctype html
head
  title Password
  style.
    body{
    margin:0;
    }
    #top{
    margin: 0;
    padding: 0;
    background-color: #DEEBF7;
    }
    .PASSWORD{
    margin-top: 400px;
    margin-left: 750px;
    position: absolute;
    transform: translate(-50%, -50%);
    font-size: large;
    color: black;
    text-align: center;
    float: left;
    }
    #password{
    width: 200px;
    height: 40px;
    border-radius: 20px;
    margin-right: 200px;
    }
    #OK{
    width: 60px;
    height: 40px;
    border-radius: 10px;
    background-color: #DEEBF7;
    color: #4472C4;
    font-family: serif;
    font-weight: bold;
    font-size: medium;
    border: 0.5px solid lightblue;
    margin-left: -180px;
    }
#top
  a(href='main_screen.html')
    img#home(src='../images/홈버튼.png')
.PASSWORD
  h2 &#xAC8C;&#xC2DC;&#xBB3C;&#xC758; &#xC218;&#xC815;/&#xC0AD;&#xC81C;&#xB97C; &#xC6D0;&#xD558;&#xC2DC;&#xBA74; &#xBE44;&#xBC00;&#xBC88;&#xD638;&#xB97C; &#xC785;&#xB825;&#xD574;&#xC8FC;&#xC138;&#xC694;.
  h3 &#xBE44;&#xBC00;&#xBC88;&#xD638;&#xB97C; &#xC785;&#xB825;&#xD558;&#xC2DC;&#xBA74; &#xD398;&#xC774;&#xC9C0;&#xB85C; &#xC774;&#xB3D9;&#xD569;&#xB2C8;&#xB2E4;.
  p
    | Password: 
    input#password(type='password')
    button#OK Check
