doctype html
head
  title search
  style.
    body{
    margin: 0;
    }
    #top{
    background-color: #DEEBF7;
    }
    .Dr{
    padding: 0;
    margin: 0 0 0 10px;
    color: #4472C4;
    font-family: serif;
    font-weight: normal;
    display: inline;
    }
    .friends{
    color: #4472C4;
    font-family: serif;
    display: inline;
    }
    .online{
    padding: 0;
    margin: 0 0 0 45px;
    color: #767171;
    }
    #dignosis_title{
    font-style: italic;
    font-family: serif;
    font-weight: normal;
    margin-left: 20px;
    text-decoration: underline;
    }
    #title{
    margin: 200px 10px 10px 500px;
    font-size: 40px;
    }
    #title_Dr{
    display: inline;
    }
    #title_friends{
    display: inline;
    }
    #title_online{
    font-size: 35px;
    margin:0 0 0 150px;
    font-weight: normal;
    }
    input[type="search"]{
    width: 650px; height: 40px;
    margin: 0 0 5px 360px;
    border-radius: 25px 0 0 25px;
    }
    button{
    border-radius: 0 25px 25px 0;
    padding: 5px;
    margin: -2px;
    }
#top
 a(href='/main_screen' target='_self')
  img(src='img_dignosis/홈버튼.png' style='height: 60px;' onclick="location='main_screen.pug'")
#title
  h1#title_Dr.Dr Dr.
  h1#title_friends.friends Friends
  h3#title_online.online ONLINE
#search_bar
  input(type='search')
  button
    img(src='search.png', width='30px', height='30px')
