doctype html
head
  title write
  style.
    body{
    margin: 0;
    }
    #top{
    margin: 0;
    padding: 0;
    background-color: #DEEBF7;
    }
    #Dr{
    padding: 0;
    margin: 0 0 0 10px;
    color: #4472C4;
    font-family: serif;
    font-size: 30px;
    display: inline;
    }
    #friends{
    color: #4472C4;
    font-family: serif;
    display: inline;
    font-size: 30px;
    }
    #online{
    padding: 0;
    margin: 0 0 0 45px;
    color: #767171;
    font-size: 20px;
    }
    #board_title{
    font-weight: bold;
    margin-left: 20px;
    margin-bottom: -10px;
    font-family: Georgia, "Times New Roman", serif;
    }
    .image{
    display: inline-block;
    width: 200px;
    height: 200px;
    padding: 50px 30px 0 20px;
    }
    .bar{
    width: 230px;
    height: 2px;
    margin-left: 15px;
    }
    #mini_1{
    width: 675px;
    height: 75px;
    padding: 0 30px 30px 10px;
    margin-bottom: -120px;
    margin-left: 200px;
    }
    #mini_2{
    width: 675px;
    height: 75px;
    padding: 0 30px 30px 10px;
    margin-left: 200px;
    margin-bottom: -80px;
    }
    #a, #b{
    position : relative;
    }
    #c{
    margin-left: 460px;
    position : relative;
    /*text-align: center;*/
    }
    #title{
    z-index: 100;
    position: absolute;
    color: black;
    font-size: 25px;
    top: 55px;
    left: 250px;
    }
    #password{
    z-index: 100;
    position: absolute;
    color: black;
    font-size: 25px;
    left: 250px;
    top: 38px;
    }
    .figure{
    padding: -10px -30px -30px -10px;
    }
    #text{
    z-index: 100;
    position: absolute;
    color: black;
    font-size: 28px;
    left: 220px;
    top: 130px;
    }
    .btn{
    position: absolute;
    top: 230px;
    left: 1150px;
    }
    
#top
  a(href='/' target='_self' style='text-decoration: none')
    h2#Dr Dr.
    h2#friends Friends
    h5#online ONLINE

table
  tr
    h2#board_title Bulletin Board
  tr
    img.bar(src='../images/bar_right.png')
form#frm(action="/write/update/" + result[0].id, method="get")
  table
    tr
      td(rowspan='2')
        img.image(src='../images/게시판.png')
      td#a
        img#mini_1(src='../images/mini_figure.png')
        p#title
          img(src='../images/umm.png' style='margin-bottom: -10px;')
          input(type='text' name="title" size='30' style='border:0px; font-size:25px;    background-color: rgb(214, 224, 242);\
          ' value=result[0].title onfocus="this.placeholder=''" onblur="this.placeholder=' 제목을 입력하세요.'")
    tr
      td#b
        img#mini_2(src='../images/mini_figure.png')
        p#password
          img(src='../images/umm.png' style='margin-bottom: -10px;')
          input(type='text' size='30' name="password" style='border:0px; font-size:25px;    background-color: rgb(214, 224, 242);\
          ' value=result[0].password onfocus="this.placeholder=''" onblur="this.placeholder=' 비밀번호를 입력해주세요.'")
  #c
    input(type='text'  style='border-radius: 40px; width: 675px; height: 500px; border:0px; font-size:25px;    background-color: rgb(214, 224, 242);\
      ' value=result[0].content name="content" onfocus="this.placeholder=''" onblur="this.placeholder=' 내용을 작성해주세요.'")
  input(type="submit" value="수정" style='width: 150px; height: 60px; margin-left: 740px; margin-top: 10px; cursor:pointer; border-radius: 30px; background-color: rgb(214, 224, 242); border: 0px; font-size:20px;')
