doctype html
head
  title headache
  style.
    body{
    margin: 0;
    }
    #top{
    background-color: #DEEBF7;
    }
    #Dr{
    padding: 0;
    margin: 0 0 0 10px;
    color: #4472C4;
    font-family: serif;
    font-weight: normal;
    display: inline;
    }
    #friends{
    color: #4472C4;
    font-family: serif;
    display: inline;
    }
    #online{
    padding: 0;
    margin: 0 0 0 45px;
    color: #767171;
    }
    #dignosis_title{
    font-weight: bold;
    margin-left: 20px;
    margin-bottom: -10px;
    font-family: Georgia, "Times New Roman", serif;
    }
    .image{
    width: 150px;
    height: 150px;
    padding: 15px 30px 0 10px;
    }
    .bar{
    width: 170px;
    height: 2px;
    margin-left: 15px;
    }
    .figure{
    width: 500px;
    height: 450px;
    padding: 15px 30px 0 10px;
    margin-top: -180px;
    margin-left: 350px;
    }
    #content{


    text-align: left;
    background-color: #DEEBF7;
    border-radius: 50px;
    padding-top: 15px;
    padding: 30px 40px;
    line-height: 100px;
    }
    #sympimg{
    padding-right: 100px;
    }
    .question{
    display: inline;
    }
    #submit{
    background-color:#DEEBF7;
    margin-left: 200px;
    width: 100px;
    border-radius: 10px;
    }

body   
#top
 a(href="http://localhost:3000/" target='_self')
  img(src='/img_dignosis/홈버튼.png', height='60px')
#question
 table
   tr
     h2#dignosis_title cold
   tr
     img.bar(src='/img_dignosis/bar_right.png')
   tr
     td#sympimg
       img.image(src='/img_dignosis/감기.png')
     td
       div#content
         form#frm(action= "/dignosis/" + part + "/" + ++stage + "/-1", method="get")
           -if (contents.length == 1)
             p= contents[0].symptom
           -else
             -for (var x = 0; x < contents.length; x++)
               input(type="radio", name="pre", id= x, value=x)
               label(for="x")= contents[x].question
               br
             input#submit(type="submit", value="다음")